/Trabalho Pratico/Debug
/Trabalho Pratico/Trabalho Pratico.vcxproj
/Trabalho Pratico/Trabalho Pratico.vcxproj.filters
/Debug
/Trabalho Pratico.sdf
/Trabalho Pratico.sln
/Trabalho Pratico.v11.suo
/Trabalho Pratico.v11.suo
/C:/Users/Andre/Documents/visual studio 2012/projects/esinf/Debug
/Trabalho Pratico.sdf
/Trabalho Pratico.sln
/Trabalho Pratico/Debug/Trabalho Pratico.log
/Trabalho Pratico/Debug/Trabalho Pratico.lastbuildstate
